.li-with {
    margin-right: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-70 {
    padding-top: 70px;
}

.mw-263 {
    max-width: 263px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-70 {
    margin-bottom: 70px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-60 {
    padding-bottom: 60px;
}

.ml-page {
    margin-left: 18%;
}