@import "color";
.text-black {
    color: black;
}

.text-color-2 {
    color: $color2!important;
}

.text-color-1 {
    color: $color1;
}

.text-banner {
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
}

.text-h3-banner {
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
}

.section-title-small {
    color: #666;
    font-size: 16px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.section-title-big {
    font-size: 32px;
    line-height: 24px;
    margin: 0;
    text-transform: uppercase;
}

.single-banner-2-big {
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.single-banner-2-small {
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 30px;
}

h4 {
    display: block;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 15px;
}

.text-author {
    display: block;
    font-size: 14px;
    line-height: 20px;
}

.text-date {
    color: #ffae00;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.text-align {
    text-align: center;
}

.text-pd-t-20 {
    padding-top: 23px;
}

.text-hover {
    &:hover {
        color: $color1;
    }
}